{{outlet}}
<h2>Tasks({{model.length}})</h2>

{{#each model as |task|}}
  <div class="well">
    <h5>{{task.title}}</h5>
    <small>Due : {{format-date task.date}}</small>
    <p>{{task.description}}</p>
  </div>
{{/each}}