{{outlet}}
<h2>Tasks({{model.length}})</h2>

{{#each model as |task|}}
  <div class="well">
    <h5>{{#link-to 'tasks.edit' task.id}}{{task.title}}{{/link-to}}</h5>
    <small>Due : {{format-date task.date}}</small>
    <p>{{task.description}}</p>
    <button {{action 'deleteTask' task.id}} class="btn btn-danger">Delete</button>
  </div>
{{/each}}